<!doctype html>
<html lang="fr" data-framework="angularjs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0">

    <base href="/">

    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png" />

    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Skranji" rel="stylesheet">

    <title>Yves a le faire!</title>

    <style media="screen">
        /* to hide app when angular not ready */
        
        [deferred-cloak],
        [data-deferred-cloak],
        [x-deferred-cloak],
        .deferred-cloak {
            display: none;
        }
    </style>

    <!-- build:css -->
    <!-- endbuild -->
</head>

<body data-deferred-cloak ng-controller="MainCtrl as mainCtrl">
    <header class="tc-white-1 p+">

        <lx-button class="nav-button" lx-type="icon" lx-color="white">
            <i class="mdi mdi-{{ mainCtrl.icon }}" ng-click="mainCtrl.sidebarButonEvent()"></i>
        </lx-button>

        <h1>
            <img src="/static/img/yves.png">
            <span>Yves a le faire !</span>
        </h1>
    </header>
    <div class="main">
        <div class="swipe-bar" ng-swipe-right="mainCtrl.swipe($event)" ng-click="mainCtrl.closeSidebar()" ng-class="{'sidebar__open': mainCtrl.isSidebarShown()}">
        </div>
        <ng-view></ng-view>
    </div>

    <!-- build:js -->
    <!-- endbuild -->
</body>

</html>