<div class="text-container">
    <div class="p+ tc-black-1 " flex-container="row">

    </div>
    <div class="p+ tc-black-1 " flex-container="row" flex-gutter="24">
        <div flex-item="2">
            <img src="/static/img/profile.png" alt="my profile picture" />
        </div>
        <div flex-item="5">
            <span class="fs-title display-block mb">A propos de moi</span>

            <div class="divider divider--dark"></div>

            <ul class="list mt++">
                <li class="list-row list-row--has-separator">
                    <div class="list-row__primary">
                        <lx-icon lx-id="account" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>

                    <div class="list-row__content">
                        <span>Quentin Veyret</span>
                    </div>
                </li>
                <li class="list-row list-row--has-separator">
                    <div class="list-row__primary">
                        <lx-icon lx-id="map-marker" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>

                    <div class="list-row__content">
                        <span>Lyon, France</span>
                    </div>
                </li>
                <li class="list-row list-row--has-separator">
                    <div class="list-row__primary">
                        <lx-icon lx-id="gmail" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>

                    <div class="list-row__content">
                        <span><a href="mailto:quent1.veyret@gmail.com" target="_blank">quent1.veyret@gmail.com</a></span>
                    </div>
                </li>
            </ul>
        </div>
        <div flex-item="5">
            <span class="fs-title display-block mb">Réseaux sociaux</span>

            <div class="divider divider--dark"></div>

            <ul class="list mt++">
                <li class="list-row list-row--has-separator">
                    <div class="list-row__primary">
                        <lx-icon lx-id="linkedin" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
                    </div>

                    <div class="list-row__content">
                        <span>
                            <a href="https://www.linkedin.com/in/quentinveyret/" target="_blank">
                                Linkedin
                            </a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="p+ tc-black-1 " flex-container="row" flex-gutter="24">
        <div flex-item>
            <p class="p+">
                Employé chez Devoteam G Cloud depuis bientôt 3 ans, j'ai décidé de faire ce voyage seul afin de découvrir au mieux ce pays qui est le Pérou.<br /><br /> Afin que mon entourage puisse me suive dans mon voyage, j'ai adapté l'application
                développée par un ancien collègue de Devoteam G Cloud, Jérémi Le Bourhis, pour son voyage sur le chemin de compostelle en 2016.<br /><br /> Le code initial est disponible sur Github :
                <a href="https://github.com/jeremlb/sms-hiking-traker" target="_blank">
                    https://github.com/jeremlb/sms-hiking-traker
                </a>
            </p>
        </div>
    </div>
</div>